@page "/auth/login"
@using MudBlazor.ExampleApp.Client.Common.Validation
@inject IValidatorProvider ValidatorProvider
@rendermode InteractiveWebAssembly
<MudCard>
    <MudCardHeader>
        <CardHeaderContent />
    </MudCardHeader>
    <MudCardContent>
        @if (Model is not null) 
        {
            <MudForm @ref="@_form"
                     Model="Model"
                     Validation="@(ValidatorProvider.GetValidationFunc<LoginModel>())">
                <MudTextField @bind-Value="Model.Email"
                              Label="Username"
                              For="@(() => Model.Email)"
                              autocomplete="email" />
                <MudTextField @bind-Value="Model.Password"
                              Label="Password"
                              InputType="InputType.Password"
                              For="@(() => Model.Password)"
                              autocomplete="current-password" />
            </MudForm>
        }
    </MudCardContent>
    <MudCardActions>
        <MudButton Variant="Variant.Filled"
                   Class="my-2 mr-2"
                   Color="Color.Primary"
                   OnClick="() => OnLoginClicked()"
                   Disabled="@_onLoginClickedProcessing">
            @if (_onLoginClickedProcessing) 
            {
                <MudProgressCircular Class="ms-n1"
                                     Size="Size.Small"
                                     Indeterminate="true" />
            }
            <MudText>Login</MudText>
        </MudButton>
    </MudCardActions>
    <!-- Footer Section -->
    <div class="mt-4 text-center">
        <MudText Typo="Typo.caption">
            <MudLink Href="/auth/forgot-password">Forgot your password?</MudLink>
        </MudText>
        <MudText Typo="Typo.caption" Class="mt-2">
            Don't have an account? <MudLink Href="/auth/register">Sign up</MudLink>
        </MudText>
    </div>
</MudCard>
